html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: #1a1a1a;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.wrapper {
	width: 1140px;
	margin: auto;
	padding-top: 80px;
	position: relative;
}
body {
	font-family: 'Open Sans', sans-serif;
	color: white;
}
h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 120px;
	font-weight: 700;
	line-height: 130px;
	color: white;
	letter-spacing: 0;
	margin-bottom: 40px;
}
h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	line-height: 45px;
}
h4 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	padding-bottom: 10px;
	font-size: 20px;
	line-height: 30px;
}
p {
	font-size: 16px;
	line-height: 25px;
}
a {
	text-decoration: none;
	color: #1A91FF;
}
a:hover {
	margin-bottom: 5px;
	border-bottom: 2px solid;
}
.app:hover {
	border: none;
}
.qlean {
	position: relative;
}
.qlean-link:hover {
	text-decoration: none;
	margin-bottom: 0px;
	border-bottom: 0px solid;
}
.qlean-link:hover span {
	margin-bottom: 5px;
	border-bottom: 2px solid;
}
.qlean_txt .qlean-link:hover {
	margin-bottom: 5px;
	border-bottom: 2px solid;
}
.main {
	display: flex;
}
.main-txt {
	margin-right: 160px;
	margin-bottom: 90px;
}
.main-txt_lead {
	font-size: 30px;
	line-height: 55px;
	width: 800px;
	padding-bottom: 25px;
}
.main-txt_lead img {
    width: 35px;
    height: 35px;
    margin-bottom: -8px;
    margin-right: 2px;
    margin-left: 3px;
}
.qlean-link {
	color: #20A052;
}
aside {
	padding-top: 20px;
}
aside p {
	color: #555;
}
.notice {
	color: #444;
	display: block;
	padding-top: 10px;
}
.qlean_pic_web {
	width: 800px;
	height: 910px;
	margin-right: 40px;
	margin-bottom: 80px;
}
.qlean_pic_mobile {
	position: absolute;
	width: 320px;
	right: 100px;
	top: 330px;
	margin-top: 0;
	transition: margin-top 0.3s ease;
}
.qlean_txt {
	padding-top: 10px;
	width: 320px;
}
.qlean {
	display: flex;
}
.qlean_txt p {
	color: #555;
	margin-bottom: 20px;
}
.qlean_txt img {
	display: block;
	margin-bottom: 10px;
}
.qlean_order {
	display: flex;
	width: 60%;
	align-items: flex-start;
}
.qlean_order_face {
	margin-right: 40px;
}
.qlean_order-link {
	margin-top: 12px;
	display: block;
}
.qlean_family {
	position: relative;
	margin: 130px 105px 26px;
	height: 410px;
}
.qlean_family img {
	position: absolute;
}
.qlean_family img:nth-child(1) {
	left: 26%;
}
.qlean_family img:nth-child(2) {
	top: 60px;
}
.qlean_family img:nth-child(3) {
	top: 138px;
	right: 0;
}
.qlean_family_txt {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 25px;
	line-height: 45px;
}
.of {
	position: relative;
	padding-top: 100px;
	overflow: hidden;
}
.of_wrapper {
	position: relative;
	background: #1e3c72;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #2a5298, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border-radius: 20px;
	height: 1000px;
	list-style: none;
	overflow: hidden;
}
.of_main-col {
	position: absolute;
	left: 120px;
	z-index: 1;
	top: 200px; /*-71px;*/
	transition: margin 0.3s ease, opacity 0.3s ease;
}
.of_main-col img {
	width: 440px;
}
.of_main-col._opacity {
	opacity: 0.5;
}
.of_col {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 320px;
}
.of_col img {
	opacity: 0.05;
	transition: opacity 0.2s ease;
}
.of_col img:hover {
	opacity: 1;
}
.of_col img:not(:last-child) {
	margin-bottom: 20px;
}
.of_col:nth-child(1) {
	left: -240px;
	top: 50px;
}
.of_col:nth-child(2) {
	left: 600px;
	top: -1920px;
}
.of_col:nth-child(3) {
	right: -140px;
	top: -120px;
}
.of p {
	color: #fff;
    opacity: 0.4;
	padding: 0px 20px 20px;
	margin-bottom: 20px;
}
.of h4 {
	color: #fff;
	padding: 20px 20px 10px;
}
.zp {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	padding-top: 60px;
	overflow: hidden;
}

.zp_about {
	margin-right: 30px;
}

.zp_about p {
	margin-bottom: 20px;
	color: #555;
}
.zp_images {
	position: relative;
	width: 75%;
	height: 500px;
	flex-shrink: 0;
}
.zp_images img {
	position: absolute;
}
.zp_images_wrapper {
	background: #F7971E;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border-radius: 20px;
	overflow: hidden;
	position: relative;
	height: 500px;
}
.zp_images_wrapper img:nth-child(1) {
	transform: rotate(15deg) scale(.6);
	top: -165px;
	left: -265px;
	transition: margin 0.3s ease;
}

.zp_images_wrapper img:nth-child(2) {
	transform: rotate(15deg) scale(.6);
	top: 231px;
	left: -250px;
	transition: margin 0.3s ease;
}

.zp_images > img {
	width: 75%;
	right: 50px;
	top: -25px;
	transition: margin 0.3s ease;
}

.copyright {
	padding: 60px 0px 60px;
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	text-align: center;
	color: #555;
}
@media only screen and (max-width: 980px) {
    .wrapper {
		width: 80%;
		background: red;
	}
	h1 {
		font-size: 50px;
		line-height: 55px;
		margin-bottom: 20px;
	}
	h4 {
		font-size: 25px;
		line-height: 35px;
		margin-bottom: 10px;
	}
	aside {
		display: none;
	}
	.of, .qlean-link img, .qlean_pic_web, .qlean_pic_mobile, .qlean_order img, .qlean_order h3, .qlean_family, .qlean_family_txt, .zp_images{
		display: none;
	}
	.qlean {
    	background: #222;
    	border-radius: 20px;
    	padding: 30px;
    	margin-bottom: 20px;
	}
	.zp {
		background: #222;
    	border-radius: 20px;
    	padding: 30px;
	}
	.zp_about {
		margin-right: 0px;
	}
	.main-txt {
		margin-right: 0px;
		margin-bottom: 0px;
	}
	.qlean_txt {
		width: 100%;
	}
	.qlean_txt img {
		width: 60%;
	}
	.app img {
		width: 60%;
	}
	.main-txt_lead {
		font-size: 20px;
		line-height: 35px;
		width: 100%;
	}
	.main {
		padding-bottom: 10px
	}
	p, .qlean_txt p, .zp p {
		font-size: 20px;
		line-height: 35px;
	}
}